<button
    nz-button
    class="w-100 rounded p-2 my-2 d-flex align-items-center cursor-pointer"
    [nzDanger]="missing === 'yes'"
    (click)="toggle()"
    *ngIf="input.isMissing() as missing"
>
    <span
        class="{{ missing === 'yes' ? 'text-danger' : 'text-success' }} me-2"
        [nz-tooltip]="input.amount + ' missing, click to add.'"
        nzTooltipPlacement="right"
        [nzTooltipMouseEnterDelay]="0"
    >
        <i nz-icon [nzType]="missing === 'yes' ? 'close-circle' : 'check-circle'" nzTheme="outline"></i>
    </span>

    <app-satisfactory-item-image [itemPackage]="input.inputs[0]" class="image me-2"></app-satisfactory-item-image>
    <div class="flex-grow-1 text-start">{{ input.itemName }}</div>
    <div>
        <ng-container *ngIf="input.getMissingAmount() !== input.amount">
            <span *ngIf="input.getMissingAmount() as amount">(+{{ amount | absolute | toFixed: 1 }})</span>
        </ng-container>
        {{ input.amount | absolute | toFixed: 1 }}
    </div>
</button>
