@import '../../../../styles/variables';

.production {
    cursor: pointer;
    border: 1px solid transparent;
}

.production--active {
    border-color: $success !important;
}

.production:hover {
    border-color: $white !important;
}

.production__item {
    width: 4rem;
}
