<app-modal [active$]="open$" [content]="content"></app-modal>

<ng-template #content>
    <div class="p-3">
        <ng-container *ngIf="productionsService.productions$ | ngrxPush as productions; else empty">
            <div
                *ngFor="let production of productions"
                class="production rounded bg-dark-subtle text-dark-emphasis mb-2 p-1"
                [class.production--active]="production.uuid === (activeUuid$ | ngrxPush)"
                [routerLink]="'/id/' + production.uuid"
                (click)="open$.next(false)"
            >
                <div
                    class="production__item rounded border shadow-sm d-inline-block p-1 me-1 bg-body text-body"
                    *ngFor="let output of production.outputs"
                >
                    <app-satisfactory-item class="d-block w-100" [itemPackage]="output" [theme]="'name-tooltip'"></app-satisfactory-item>
                </div>
            </div>
        </ng-container>

        <div class="mt-4">
            <button class="btn btn-outline-primary" (click)="open$.next(false)">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #empty> No productions found </ng-template>
