<div
    *ngIf="{edit: edit$ | ngrxPush} as state"
    class="box p-2 pb-0 border bg-dark-subtle text-dark-emphasis rounded-3"
    [ngClass]="production.built ? 'border-success' : 'border-dark-subtle'"
    [class.sod-shadow-lg]="state.edit && production.index === state.edit.index"
    [class.border-primary-subtle]="state.edit && production.index === state.edit.index"
    [class.box--active]="state.edit && production.index === state.edit.index"
>
    <div *ngIf="{title: production | productionTitle} as header" class="d-flex justify-content-between mb-2">
        <div>
            <h5 class="mb-0">{{ header.title.title }}</h5>
            <h6 *ngIf="header.title.subtitle">{{ header.title.subtitle }}</h6>
        </div>
        <div>
            <ng-container *ngIf="production.hasRecipes()">
                <button
                    class="btn btn-link btn-sm text-decoration-none ms-0"
                    (click)="moveUp(production)"
                    *ngIf="positionInList > 0 && !production.built"
                >
                    <i class="bi bi-arrow-up me-1"></i>
                    Up next
                </button>
                <button
                    class="btn btn-sm text-decoration-none ms-0 me-2"
                    (click)="built(production)"
                    [ngClass]="production.built ? 'btn-outline-success' : 'btn-link'"
                >
                    <i class="bi me-1" [ngClass]="production.built ? 'bi-check2-circle' : 'bi-clock-history'"></i>
                    Built
                </button>
            </ng-container>
            <button
                class="btn btn-sm text-decoration-none ms-0"
                [ngClass]="state.edit && production.index === state.edit.index ? 'btn-primary' : 'btn-link'"
                (click)="edit(production.index)"
            >
                <i class="bi bi-pencil me-1"></i>
                Edit
            </button>
        </div>
    </div>

    <div class="row position-relative align-items-center">
        <div class="text-center arrow-center" *ngIf="production.recipe.inputs.length && production.recipe.outputs.length">
            <i class="bi bi-arrow-right"></i>
        </div>
        <div class="col-6">
            <app-satisfactory-items
                [values]="production.recipe.inputs"
                [productionInputs]="productionInputs"
                align="left"
            ></app-satisfactory-items>
        </div>
        <div class="col-6">
            <app-satisfactory-items [values]="production.recipe.outputs" align="right"></app-satisfactory-items>
        </div>
    </div>
</div>
