<div
    *ngIf="{edit: edit$ | async} as state"
    class="bg-light rounded border pb-2 px-2"
    [class.shadow]="state.edit && production.index === state.edit.index"
>
    <nz-page-header class="p-0" *ngIf="{title: production | productionTitle} as header">
        <nz-page-header-title>{{ header.title.title }}</nz-page-header-title>
        <nz-page-header-subtitle>{{ header.title.subtitle }}</nz-page-header-subtitle>
        <nz-page-header-extra>
            <button
                nz-button
                [nzType]="state.edit && production.index === state.edit.index ? 'primary' : 'link'"
                (click)="edit(production.index)"
            >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                Edit
            </button>
        </nz-page-header-extra>
    </nz-page-header>

    <div class="text-center text-muted" *ngIf="!production.recipe.inputs.length && !production.recipe.outputs.length">
        Not inputs and outputs yet.
    </div>
    <div class="row position-relative">
        <div class="text-center arrow-center" *ngIf="production.recipe.inputs.length && production.recipe.outputs.length">
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
        </div>
        <div class="col-6">
            <app-satisfactory-items [values]="production.recipe.inputs" align="left"></app-satisfactory-items>
        </div>
        <div class="col-6">
            <app-satisfactory-items [values]="production.recipe.outputs" align="right"></app-satisfactory-items>
        </div>
    </div>
</div>
