.arrow-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.box {
    transform: translateY(0px);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border 0.3s ease;
}

.box--active {
    transform: translateY(-4px);
}
