<div
    *ngIf="{edit: edit$ | async} as state"
    class="bg-light rounded border px-2"
    [class.built]="production.built"
    [class.border-primary]="state.edit && production.index === state.edit.index"
    [class.shadow-sm]="state.edit && production.index === state.edit.index"
>
    <nz-page-header class="px-0 py-1" *ngIf="{title: production | productionTitle} as header">
        <nz-page-header-title>{{ header.title.title }}</nz-page-header-title>
        <nz-page-header-subtitle>{{ header.title.subtitle }}</nz-page-header-subtitle>
        <nz-page-header-extra>
            <ng-container *ngIf="production.hasRecipes()">
                <button nz-button class="ms-0" nzType="link" (click)="moveUp(production)" *ngIf="positionInList > 0 && !production.built">
                    <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
                    Up next
                </button>
                <button nz-button class="ms-0" nzType="link" (click)="built(production)">
                    <i nz-icon [nzType]="production.built ? 'check' : 'clock-circle'" nzTheme="outline"></i>
                    Built
                </button>
            </ng-container>
            <button
                nz-button
                class="ms-0"
                [nzType]="state.edit && production.index === state.edit.index ? 'primary' : 'link'"
                (click)="edit(production.index)"
            >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                Edit
            </button>
        </nz-page-header-extra>
    </nz-page-header>

    <div class="text-center text-muted mb-3" *ngIf="!production.hasRecipes()">Not inputs and outputs yet.</div>
    <div class="row position-relative align-items-center">
        <div class="text-center arrow-center" *ngIf="production.recipe.inputs.length && production.recipe.outputs.length">
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
        </div>
        <div class="col-6">
            <app-satisfactory-items
                [values]="production.recipe.inputs"
                [productionInputs]="productionInputs"
                align="left"
            ></app-satisfactory-items>
        </div>
        <div class="col-6">
            <app-satisfactory-items [values]="production.recipe.outputs" align="right"></app-satisfactory-items>
        </div>
    </div>
</div>
