img,
svg {
    // fix svg icons misaligned with "middle" from bs5 reboot
    vertical-align: unset;
}

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.28), 0.1px 0.9px 0.8px -3.8px hsl(var(--shadow-color) / 0.18);
    --shadow-elevation-medium: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.26), 0.1px 1px 0.9px -1.9px hsl(var(--shadow-color) / 0.2),
        0.4px 4.6px 4.3px -3.8px hsl(var(--shadow-color) / 0.14);
    --shadow-elevation-high: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.24), 0.1px 1.1px 1px -0.8px hsl(var(--shadow-color) / 0.21),
        0.3px 2.8px 2.6px -1.5px hsl(var(--shadow-color) / 0.19), 0.6px 6.6px 6.1px -2.3px hsl(var(--shadow-color) / 0.16),
        1.3px 13.6px 12.6px -3.1px hsl(var(--shadow-color) / 0.13), 2.3px 25px 23.2px -3.8px hsl(var(--shadow-color) / 0.1);
}

.sod-shadow-lg {
    box-shadow: var(--shadow-elevation-high);
}

.sod-shadow {
    box-shadow: var(--shadow-elevation-medium);
}

.sod-animate--fade {
    display: block;
    will-change: opacity, box-shadow;
    transition:
        opacity 0.2s ease-out,
        box-shadow 0.2s ease-out;
    opacity: 1;

    &:not(.show) {
        opacity: 0;
        box-shadow: none;
    }
}
