<app-satisfactory-item-image
    [heightPercent]="70"
    [itemPackage]="itemPackage"
    [attr.title]="itemPackage.itemName"
></app-satisfactory-item-image>
<div class="text-center mt-2" *ngIf="{input: productionInputs?.get(itemPackage.itemName)} as state">
    <ng-container [ngSwitch]="state.input?.isMissing()">
        <ng-container *ngSwitchCase="'yes'">
            <span class="text-warning">
                <i class="bi bi-x-circle"></i>
                {{ itemPackage | amountWithModifiers }}
            </span>
        </ng-container>
        <ng-container *ngSwitchCase="'covered'">
            <span class="text-success">
                <i class="bi bi-check2-circle"></i>
                {{ itemPackage | amountWithModifiers }}
            </span>
        </ng-container>
        <ng-container *ngSwitchDefault>
            {{ itemPackage | amountWithModifiers }}
        </ng-container>
    </ng-container>
</div>
<div class="text-center text-muted" *ngIf="theme === 'name-inline'">{{ itemPackage.itemName }}</div>
