<app-load-production #loadProductionComponent></app-load-production>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
        <div class="input-group-text" id="btnGroupAddon">Production</div>
        <button class="btn btn-outline-primary" (click)="store.dispatch(createProductionClicked())">
            <i class="bi bi-file-earmark-plus"></i>
            New
        </button>

        <button class="btn btn-outline-primary" (click)="loadProductionComponent.open()">
            <i class="bi bi-folder2-open"></i>
            Load
        </button>
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
        <button class="btn btn-outline-danger" (click)="store.dispatch(deleteProductionClicked())">
            <i class="bi bi-trash-fill"></i>
            Delete
        </button>
    </div>
</div>
