<div class="d-flex w-100 min-vh-100 flex-column">
    <div class="container flex-grow-1"><router-outlet></router-outlet></div>

    <div class="text-center mt-5 text-muted text-sm pb-2 footer">
        Source of this page on
        <a href="https://github.com/sod/sod-satisfactory" target="_blank"> https://github.com/sod/sod-satisfactory </a>
        <br />
        Recipes based on update7
        <br />
        Theme:
        <ng-container
            *ngTemplateOutlet="themeTemplate; context: {$implicit: 'dark', checked: (theme.observable | ngrxPush) === 'dark'}"
        ></ng-container>
        or
        <ng-container
            *ngTemplateOutlet="themeTemplate; context: {$implicit: 'light', checked: (theme.observable | ngrxPush) === 'light'}"
        ></ng-container>
    </div>
</div>

<ng-template #themeTemplate let-value let-checked="checked">
    <a role="button" (click)="$event.preventDefault(); theme.set(value)" href="#" [class.link-secondary]="!checked">{{ value }}</a>
    <i class="bi bi bi-check2-circle text-success" *ngIf="checked"></i>
</ng-template>
