<div class="dropdown" [class.active]="open$ | ngrxPush">
    <ng-content></ng-content>

    <ul
        class="dropdown-menu sod-animate--fade"
        *ngIf="open$ | sodAnimate | ngrxPush as animate"
        [class.show]="animate.enter && !animate.leave"
    >
        <ng-container *ngTemplateOutlet="dropdown"></ng-container>
    </ul>
</div>
<div
    class="modal-backdrop fade"
    [class.show]="animate.enter && !animate.leave"
    *ngIf="open$ | sodAnimate | ngrxPush as animate"
    (click)="close()"
></div>
