@import '../../../../styles/variables';

.dropdown.active {
    z-index: $zindex-modal-backdrop + 1;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.modal-backdrop:not(.show) {
    pointer-events: none;
}
