<h1 class="my-3">Satisfactory Production Planner</h1>

<div class="text-muted">All input & output values are normalized to "N units/m³ per 60 seconds"</div>

<div class="row my-4" *ngIf="productions$ | ngrxPush as productions">
    <div class="col-md-6" *ngIf="productions | resolveProduction: (inputCovered$ | ngrxPush) ?? [] as productionInputs">
        <ng-container *ngIf="productions.length">
            <h4>Machines</h4>
            <ng-container *ngFor="let production of productions; trackBy: trackByService.index; let index = index">
                <app-production-overview
                    *ngIf="production.hasRecipes()"
                    [production]="production"
                    [productionInputs]="productionInputs"
                    [positionInList]="index"
                    class="mb-3 d-block"
                ></app-production-overview>
            </ng-container>

            <ng-container *ngIf="isMissing(productionInputs) as missingInputs">
                <h4 class="mt-5">Inputs</h4>
                <app-missing-input [input]="input" *ngFor="let input of missingInputs"></app-missing-input>
            </ng-container>
        </ng-container>

        <div class="mt-5">
            <app-action-add-production class="mb-4 d-block"></app-action-add-production>
            <app-action-production *ngIf="productions.length"></app-action-production>
        </div>
    </div>

    <div class="col-md-6">
        <ng-container [ngSwitch]="breakpoint.md | modalOrInline | ngrxPush">
            <ng-container *ngSwitchCase="'modal'">
                <app-modal [active$]="edit$" [content]="content"></app-modal>
            </ng-container>
            <ng-container *ngSwitchCase="'inline'">
                <div
                    *ngIf="edit$ | sodAnimate: {strategy: 'truthy'} | ngrxPush as state"
                    class="sod-animate--fade"
                    [class.show]="state.enter && !state.leave"
                >
                    <ng-container *ngTemplateOutlet="content; context: {$implicit: state.value}"></ng-container>
                </div>
            </ng-container>
        </ng-container>

        <ng-template #content let-value>
            <app-production class="production d-block" [production]="value"></app-production>
        </ng-template>
    </div>
</div>
