<h1 class="my-3">Satisfactory Production Planner</h1>

<div class="text-muted">All input & output values are normalized to "N units/m³ per 60 seconds"</div>

<div class="row my-4" *ngIf="productions$ | async as productions">
    <div class="col-md-6" *ngIf="productions | resolveProduction: (inputCovered$ | async) ?? [] as productionInputs">
        <ng-container *ngIf="productions.length">
            <h4>Machines</h4>
            <ng-container *ngFor="let production of productions; trackBy: trackByService.index; let index = index">
                <app-production-overview
                    *ngIf="production.hasRecipes()"
                    [production]="production"
                    [productionInputs]="productionInputs"
                    [positionInList]="index"
                    class="mb-3 d-block"
                ></app-production-overview>
            </ng-container>

            <ng-container *ngIf="isMissing(productionInputs) as missingInputs">
                <h4 class="mt-5">Inputs</h4>
                <app-missing-input [input]="input" *ngFor="let input of missingInputs"></app-missing-input>
            </ng-container>
        </ng-container>

        <div class="mt-5">
            <app-action-add-production class="me-2"></app-action-add-production>
            <app-action-clear-production *ngIf="productions.length"></app-action-clear-production>
        </div>
    </div>

    <div class="col-md-6">
        <app-production class="sticky" [production]="production" *ngIf="edit$ | async as production"></app-production>
    </div>
</div>
