<app-dropdown [dropdown]="dropdown" [element]="element" #dropdownController>
    <app-input [label]="labels[target]">
        <input
            #element
            appInputControl
            type="search"
            [ngModel]="itemPackage?.itemName ?? ''"
            (input)="itemSelected(element.value, itemPackage)"
            (blur)="itemPackage?.itemName === '' && remove(itemPackage!)"
        />
    </app-input>
</app-dropdown>

<ng-template #dropdown>
    <li
        *ngFor="let option of items | filterCaseInsensitive: itemPackage?.itemName | slice: 0 : 5; let first = first"
        (click)="itemSelected(option, itemPackage); dropdownController.close()"
    >
        <span
            class="dropdown-item"
            [class.text-decoration-underline]="first && option?.toLowerCase() === itemPackage?.itemName?.toLowerCase()"
        >
            {{ option }}
        </span>
    </li>
    <li><h6 class="dropdown-header">Recipes</h6></li>
    <ng-container
        *ngIf="
            recipesData
                | filterCaseInsensitive
                    : itemPackage?.itemName
                    : $any(stringifyRecipe.bind(this))
                    : $any(itemNamesAsArray.bind(this)) as options
        "
    >
        <li *ngIf="!options.length"><span class="dropdown-item disabled">none</span></li>
        <li *ngFor="let option of options" (click)="itemSelected(option, itemPackage); dropdownController.close()">
            <span class="dropdown-item">
                <div>{{ option.name }}</div>
                <div class="row my-2">
                    <app-package-images class="col px-2" [items]="option.inputs"></app-package-images>
                    <app-package-images class="col px-2 justify-content-end d-flex" [items]="option.outputs"></app-package-images>
                </div>
            </span>
        </li>
    </ng-container>
</ng-template>
