<div class="row gx-2">
    <app-item class="col" [itemPackage]="itemPackage" [recipe]="recipe" [target]="target"></app-item>
    <div class="col-5 col-lg-4" *ngIf="itemPackage">
        <app-input class="position-relative" [label]="'per minute'">
            <input
                appInputControl
                type="number"
                [ngModel]="itemPackage.amount"
                (ngModelChange)="itemPackage && +$event > 0 && updateItemPackageAmount(+$event, itemPackage)"
            />

            <ng-container *ngIf="(itemPackage?.parent?.parent?.getModifier() ?? 1) !== 1">
                <span class="input-suffix text-muted">= {{ itemPackage | amountWithModifiers }}</span>
            </ng-container>
        </app-input>
    </div>
</div>
