$form-floating-padding-y: 0.75rem;
$form-floating-height: 3rem;
$dropdown-min-width: 23rem;
$input-border-width: none;

//@import 'bootswatch/dist/flatly/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
