<div
    [style.padding-top.%]="heightPercent"
    class="position-relative image"
    [style.background-image]="'url(' + source + ')'"
    *ngIf="itemPackage | satisfactoriyItemImage as source; else fallback"
></div>

<ng-template #fallback>
    <div [style.padding-top.%]="heightPercent" class="position-relative">
        <div class="position-absolute d-flex align-items-center justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0">
            <i class="bi bi-bricks"></i>
        </div>
    </div>
</ng-template>
